html, body {
    height: 100%;
    margin: 0;
}

canvas {
    position: absolute;
    z-index: -5;
}

header {
    font-size: 2em;
    text-align: center;
    font-family: font-family: 'Lora', serif;
    font-weight: 450;
    padding: 1em;
    text-shadow: 2px 2px 1px rgb(231, 76, 60);
}

section {
    background-color: rgba(0, 0, 0, 0.9);
    width: 85%;
    margin: auto;
    margin-top: 20%;
    padding: 1em;
    text-align: center;
    transition-property: width, height, margin-top, opacity;
    transition-duration: 2s;
    overflow: auto;
}

.query {
    margin-top: 0;
    width: 85%;
    height: 80%;
    opacity: 0.85;
}

.result {
    background-color: white;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    padding: 1em;
    margin: 1em 0em;
    transition-property: background-color, color;
    transition-duration: 1s;
}

.result p {
    font-size: 1.5em;
}

.result:hover, .result:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.wrapper {
    margin: 1em 0;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    color: white;
}

.searchmatch {
    color: rgb(231, 76, 60);
}

p {
    font-size: 0.5em;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    transition-property: color;
    transition-duration: 2s;
}

a:hover, i:hover {
    cursor: pointer;
    color: rgb(52, 152, 219);
}

input {
    background-color: black;
    border-radius: 50px;
    border: 0.2em solid rgb(76, 175, 80);
    margin-top: 5em;
    padding: 0.5em 1em;
    color: white;
    transition-property: margin-top;
    transition-duration: 2s;
}

.field {
    margin-top: 0;
}

input:focus {
    outline: none;
}

button {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
}

button:after {
    content: "X";
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    z-index:1;
    right: 0.5em;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    color: rgb(76, 175, 80);
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1em;
    text-align: center;
}

span {
    color: black;
    font-family: cursive;
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
    section {
        margin-top: 20%;
        width: 70%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 950px) {
    section {
        margin-top: 15%;
        width: 60%;
    }
}

@media only screen and (min-width: 950px) {
    section {
        margin-top: 10%;
        width: 50%;
    }
}